body {
	background: url(../img/main_bg.gif) left top;
	padding: 0px;
	margin: 0px;
}


/*背景*/

.bg_top {
	width: 100%;
	height: 600px;
	min-width: 1200px;
	background: url(../img/top_bg.jpg) right top;
}


/*logo*/

.header .logo {
	width: 200px;
	height: 200px;
	background: url(../img/logo.png) left top;
	display: inline-block;
	margin: 20px auto auto 50px;
	float: left;
	display: inline;
	position: relative;
	z-index: 100;
}

.header_bg {
	width: 100%;
	height: 151px;
	background: url(../img/cloud_02.jpg) right top no-repeat;
	margin: auto;
}


/*返回首页*/

.home_menu {
	width: 100px;
	height: 51px;
	position: absolute;
	right: 203px;
}

.home_menu a {
	width: 100%;
	height: 51px;
	display: block;
}


/*书*/

.page_box_bg {
	background: url(../img/page_06.jpg) center top no-repeat;
	margin-top: -505px;
	min-width: 1200px;
}

.page_box {
	width: 1000px;
	height: 700px;
	position: relative;
	margin: auto;
	margin-top: -450px;
	z-index: 5;
}


/*书的左边*/

.index_left {
	width: 443px;
	height: 646px;
	background: url(../img/cloud_17.jpg) left bottom no-repeat;
	float: left;
}

.about_l {
	background: url(../img/about_03.jpg) 40px top no-repeat;
}

.page_left {
	width: 420px;
	height: 607px;
	margin: 59px auto auto 70px;
	display: inline;
}


/*历史文化*/

.about_text {
	color: #7f543a;
	font-size: 12px;
	float: left;
	margin: 150px auto auto 40px;
	line-height: 20px;
	display: inline;
	position: relative;
}

.about_text h1 {
	font-family: "宋体";
	font-size: 32px;
	line-height: 32px;
}

.about_text p {
	margin: 24px 0;
	line-height: 32px;
}

.about_text b {
	font-size: 16px;
}

/*方言宗教转化*/
.religion{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 6px;
	width: 64px;
	text-align: center;
	height: 32px;
	line-height: 32px;
	border-radius: 5px;
	font-size: 14px;
	background-color: #fc5656;
}
.religion a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #FFF;
}
.religion:hover {
    box-shadow: 2px 2px 7px #fc5656;
}
/*右边*/

.index_right {
	width: 488px;
	height: 646px;
	float: left;
}

.page_right {
	width: 450px;
	height: 607px;
	margin: 59px auto auto auto;
	display: inline;
}

.page_right {
	background: none;
}

.about_r {
	background: url(../img/about_06.jpg) 6px 15px no-repeat;
}


/*书本底部*/

.page_bot {
	width: 100%;
	height: 200px;
	background: url(../img/page_09.jpg) center top no-repeat;
	position: absolute;
	z-index: 1;
	top: 601px;
	left: 0px;
	min-width: 1200px;
}


/*底部*/

.footer {
	width: 1200px;
	margin: auto;
	position: relative;
	z-index: 2;
}

.footer_right {
	float: right;
	height: 73px;
	background: url(../img/foot_bg.JPG) no-repeat right top;
	width: 444px;
}

.footer_right p {
	font-size: 12px;
	float: right;
	margin-top: 40px;
	margin-right: 15px;
	color: #8a6249;
	display: inline;
	font-family: Verdana, Geneva, sans-serif;
}